/* ------------------------------------------------------ *\
	BASE
\* ------------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

/* Global Layout Set-up */
* {
  box-sizing: border-box; }

html {
  min-height: 100%; }

html,
body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1; }

p {
  font-size: 0.9rem; }

canvas {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Shared styles */
#app-notification, #main-navigation .nav-button, #main-content #search-button, .alert button {
  text-indent: -99999px; }

/* Animations */
@-webkit-keyframes hide-notifications {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    opacity: 0; } }
@keyframes hide-notifications {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    opacity: 0; } }
/* ------------------------------------------------------ *\
	COMPONENTS
\* ------------------------------------------------------ */
/* Header styles */
#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 0 25px;
  color: white;
  background-color: #6061B1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#app-name {
  font-size: 1.3em;
  font-weight: 300; }
  #app-name strong {
    font-weight: 700; }
  #app-name .trademark {
    font-size: .6em;
    vertical-align: top; }

#app-notification {
  width: 28px;
  height: 28px;
  margin: 0 15px 0 auto;
  background: url(../img/icon-bell.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 20px; }
  #app-notification[data-state=active] {
    background: url(../img/notification-active.svg), url(../img/icon-bell.svg);
    background-repeat: no-repeat;
    background-position: top right, center center;
    background-size: 7px, auto 20px; }

.profile-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%; }

#app-profile {
  font-size: .9em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-left: 15px;
  border-left: 1px solid #4B4AB1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 568px) {
    #app-profile p {
      display: none; }
    #app-profile .profile-image {
      margin: 0; } }

/* Navigation styles */
#main-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #3C3A5F;
  z-index: 100; }
  #main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #main-navigation .nav-button {
    height: 70px;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    opacity: .5; }
    #main-navigation .nav-button[data-state=active] {
      opacity: 1;
      border-width: 5px;
      border-style: solid;
      -o-border-image: url(../img/border-bottom-active.svg) 10%;
         border-image: url(../img/border-bottom-active.svg) 10%; }
    #main-navigation .nav-button:hover, #main-navigation .nav-button:focus {
      opacity: 1; }
    @media screen and (max-width: 768px) {
      #main-navigation .nav-button {
        width: 25%;
        margin: 0; } }
  @media screen and (max-width: 768px) {
    #main-navigation {
      padding: 0 25px; } }
  @media screen and (min-width: 768px) {
    #main-navigation {
      position: relative;
      float: left;
      width: 90px;
      height: 100vh; }
      #main-navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto; }
      #main-navigation .nav-button {
        width: 90px;
        height: 68px;
        margin: 15px 0; }
        #main-navigation .nav-button[data-state=active] {
          -o-border-image: url(../img/border-left-active.svg) 10%;
             border-image: url(../img/border-left-active.svg) 10%; } }

#button-dashboard {
  background: url(../img/icon-dashboard.svg); }

#button-members {
  background: url(../img/icon-members.svg); }

#button-settings {
  background: url(../img/icon-settings.svg); }

#button-visits {
  background: url(../img/icon-visits.svg); }

#button-dashboard,
#button-members,
#button-settings,
#button-visits {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px; }

/* Main styles */
#main-content {
  display: block;
  float: left;
  width: 100%;
  min-height: 100%;
  background-color: white;
  margin-bottom: 70px; }
  #main-content #content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px; }
  #main-content #main-title,
  #main-content #main-search {
    height: 100%; }
  #main-content #main-title {
    color: #535353;
    font-size: 1.2em;
    font-weight: 400;
    padding: 20px 25px; }
  #main-content #main-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0 25px;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    background-color: #FAFAFA;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #main-content #search-form {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    width: 100%;
    padding: 0;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: white; }
    @media screen and (min-width: 768px) {
      #main-content #search-form {
        width: 380px; } }
  #main-content #search-field,
  #main-content #search-button {
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  #main-content #search-field {
    width: 100%;
    padding: 12px; }
  #main-content #search-button {
    background: url(../img/icon-search.svg) no-repeat center;
    width: 38px;
    background-size: 17px;
    display: inline-block; }
  @media screen and (min-width: 768px) {
    #main-content {
      margin-bottom: 0;
      width: calc(100% - 90px); } }

/* Alerts */
#content-notifications {
  padding: 25px; }
  #content-notifications[data-state=hidden] {
    display: none; }
  #content-notifications[data-state=visible] {
    display: block; }

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  border-radius: 4px;
  background-color: #6061B1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top; }
  .alert p {
    font-size: .9em;
    font-weight: 300;
    margin: 11px 0;
    padding-left: 16px; }
  .alert strong {
    font-weight: 700;
    margin-right: 10px; }
  .alert button {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    outline: none;
    background: transparent;
    background: url(../img/icon-close.svg) no-repeat center;
    background-size: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .alert:not(:last-child) {
    margin-bottom: 10px; }
  .alert[data-state=hidden] {
    -webkit-animation: hide-notifications .2s linear forwards;
            animation: hide-notifications .2s linear forwards; }

/* Widgets */
.content-widget {
  padding: 25px;
  border-right: #D7D7D7 1px solid;
  border-bottom: #D7D7D7 1px solid; }
  @media only screen and (min-width: bkp-medium) {
    .content-widget {
      border-bottom: 0 !important; } }

@media only screen and (min-width: 768px) {
  .split .content-widget {
    float: left;
    overflow: hidden;
    width: 50%; } }
.widget-header,
.widget-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.widget-filter .filter-button {
  font-size: .8rem;
  font-weight: 700;
  width: 25%;
  padding: 5px 10px;
  text-align: center;
  color: #535353;
  border-radius: 15px;
  background-color: white; }
  .widget-filter .filter-button[data-state=active] {
    color: white;
    background-color: #76D76D; }
  @media only screen and (min-width: 568px) {
    .widget-filter .filter-button {
      margin-left: 5px; } }
@media only screen and (max-width: 568px) {
  .widget-filter {
    width: 100%; } }
@media only screen and (min-width: 568px) {
  .widget-filter {
    margin-left: auto; } }

.widget-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px; }
  @media only screen and (min-width: 568px) {
    .widget-header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.widget-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #535353; }
  @media only screen and (min-width: 568px) {
    .widget-title {
      margin-bottom: 0; } }

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (min-width: 568px) {
    .social-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.social-widget {
  height: 110px;
  margin: 12.5px 0;
  padding: 20px 20px 20px 110px;
  text-align: left;
  color: #535353;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  background-color: #FAFAFA; }
  .social-widget:first-child {
    margin-top: 0; }
  .social-widget:last-child {
    margin-bottom: 0; }
  .social-widget .social-title {
    font-weight: 700;
    margin: 0;
    color: #6061B1; }
  .social-widget .social-likes {
    font-size: 2.6rem;
    font-weight: 100;
    margin: 0; }
  @media only screen and (min-width: 568px) {
    .social-widget {
      display: inline-block;
      margin: 0 12.5px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .social-widget:first-child {
        margin-left: 0; }
      .social-widget:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 1024px) {
    .social-widget {
      height: 110px;
      padding: 20px 20px 20px 110px; } }
  @media only screen and (min-width: 568px) and (max-width: 1024px) {
    .social-widget {
      height: auto;
      padding: 110px 20px 20px 20px;
      text-align: center; } }

.social-twitter {
  background-image: url(../img/icon-twitter.svg); }

.social-facebook {
  background-image: url(../img/icon-facebook.svg); }

.social-google {
  background-image: url(../img/icon-google-plus.svg); }

.social-twitter,
.social-facebook,
.social-google {
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 70px; }
  @media only screen and (min-width: 568px) and (max-width: 1024px) {
    .social-twitter,
    .social-facebook,
    .social-google {
      background-position: center 20px; } }

.new-member,
.recent-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .new-member:not(:last-child),
  .recent-activity:not(:last-child) {
    border-bottom: #D7D7D7 1px solid; }
  .new-member:first-child,
  .recent-activity:first-child {
    padding-top: 0; }
  .new-member:last-child,
  .recent-activity:last-child {
    padding-bottom: 0; }
  .new-member .profile-image,
  .recent-activity .profile-image {
    width: 40px;
    height: 40px; }

.member-email {
  color: #6061B1; }

.recent-activity {
  background: url(../img/icon-arrow.svg) no-repeat;
  background-position: center right;
  background-size: 10px; }
  .recent-activity:first-child {
    background-position: 100% 30%; }
  .recent-activity:last-child {
    background-position: 100% 70%; }

.date-added,
.member-email {
  font-size: .8rem; }

.member-name,
.member-activity {
  line-height: 1.2; }

.date-added {
  margin-left: auto; }

#button-save,
#button-cancel {
  width: calc(50% - 12.5px); }

#button-save {
  margin-right: 12.5px; }

#button-cancel {
  margin-left: 12.5px; }

/* Forms */
input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }
input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }
input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }
input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

button,
input[type='submit'],
*[class*='button'] {
  cursor: pointer; }

form {
  font-size: 0; }
  form p {
    font-size: .9rem; }

input,
textarea,
select,
button {
  font-size: .9rem;
  font-weight: 300;
  padding: 0 12px;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  button::-webkit-input-placeholder {
    font-size: .9rem;
    font-weight: 300;
    opacity: 1; }
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder,
  button::-moz-placeholder {
    font-size: .9rem;
    font-weight: 300;
    opacity: 1; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder,
  button:-ms-input-placeholder {
    font-size: .9rem;
    font-weight: 300;
    opacity: 1; }
  input::placeholder,
  textarea::placeholder,
  select::placeholder,
  button::placeholder {
    font-size: .9rem;
    font-weight: 300;
    opacity: 1; }

input[type='text'],
select {
  height: 38px;
  border: 1px solid; }

input[type='submit'],
button {
  width: 100%;
  height: 40px;
  border: 0; }

input[type='text'],
textarea,
select {
  width: 100%;
  margin-bottom: 15px;
  color: #535353;
  border-color: #D7D7D7;
  background-color: #FAFAFA; }

select {
  background: url(../img/icon-arrow-down.svg) no-repeat;
  background-position: right 12px center;
  background-size: 16px; }

button {
  color: white;
  border-color: #D7D7D7; }

textarea {
  display: block;
  height: 105px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px; }

button,
input[type='submit'] {
  font-weight: 700;
  text-transform: uppercase; }

input[type='submit'] {
  color: white;
  border-color: #6061B1;
  background-color: #6061B1; }

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }
  .switch-container p {
    margin-right: 15px;
    min-width: calc(50% - 58px); }
    @media screen and (min-width: 320px) and (max-width: 568px) {
      .switch-container p {
        min-width: calc(75% - 51.5px); } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .switch-container p {
        min-width: calc(75% - 51.5px); } }

.switch {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 30px;
  z-index: 1; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D7D7D7;
  -webkit-transition: .2s;
  transition: .2s; }

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s; }

input:checked + .slider {
  background-color: #6061B1; }

input:focus + .slider {
  box-shadow: 0 0 1px #6061B1; }

input:checked + .slider:before {
  -webkit-transform: translateX(56px);
          transform: translateX(56px); }

.slider.round {
  border-radius: 30px; }

.slider.round:before {
  border-radius: 50%; }

/* Footer styles */
