/* ------------------------------------------------------ *\
	BASE
\* ------------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Global Layout Set-up */
* {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased; }

body,
input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

body,
input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

body,
input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

body,
input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

button,
input[type="submit"],
*[class*="button"] {
  cursor: pointer; }

canvas {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Shared styles */
#main-content #search-button, .alert button, #main-navigation .nav-button, #app-notification {
  text-indent: -99999px; }

/* Animations */
@-webkit-keyframes hide-notifications {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    opacity: 0; } }
@keyframes hide-notifications {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    opacity: 0; } }
/* ------------------------------------------------------ *\
	COMPONENTS
\* ------------------------------------------------------ */
/* Main styles */
#main-content {
  display: block;
  float: left;
  width: 100%;
  height: 100vh;
  background-color: white; }
  #main-content #content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px; }
  #main-content #main-title,
  #main-content #main-search {
    height: 100%; }
  #main-content #main-title {
    color: #535353;
    font-size: 1.2em;
    font-weight: 400;
    padding: 20px 25px; }
  #main-content #main-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0 25px;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    background-color: #FAFAFA;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #main-content #search-form {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    width: 100%;
    padding: 0;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: white; }
    @media screen and (min-width: 768px) {
      #main-content #search-form {
        width: 380px; } }
  #main-content #search-field,
  #main-content #search-button {
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  #main-content #search-field {
    width: 100%;
    padding: 12px;
    font-size: .9em;
    font-weight: 300; }
  #main-content #search-button {
    background: url(../img/icon-search.svg) no-repeat center;
    width: 38px;
    background-size: 17px;
    display: inline-block; }
  @media screen and (min-width: 768px) {
    #main-content {
      width: calc(100% - 90px); } }

#content-notifications {
  padding: 25px; }
  #content-notifications[data-state=hidden] {
    display: none; }
  #content-notifications[data-state=visible] {
    display: block; }

.content-widget {
  padding: 25px; }

.widget-header,
.widget-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.widget-filter .filter-button {
  margin-left: 5px;
  font-size: .8em;
  font-weight: 700;
  color: #535353;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: white; }
  .widget-filter .filter-button[data-state=active] {
    background-color: #76D76D;
    color: white; }
@media screen and (min-width: 568px) {
  .widget-filter {
    margin-left: auto; } }

.widget-header {
  padding-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 568px) {
    .widget-header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.widget-title {
  text-transform: uppercase;
  color: #535353; }

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding-left: 14px;
  color: white;
  border-radius: 4px;
  background-color: #6061B1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .alert p {
    font-size: .9em;
    font-weight: 300;
    margin: 13px 0; }
  .alert strong {
    font-weight: 700;
    margin-right: 10px; }
  .alert button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    outline: none;
    background: transparent url(../img/icon-close.svg) no-repeat center;
    background-size: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .alert:not(:last-child) {
    margin-bottom: 10px; }
  .alert[data-state=visible] {
    opacity: 1; }
  .alert[data-state=hidden] {
    -webkit-animation: hide-notifications .2s linear forwards;
            animation: hide-notifications .2s linear forwards; }

/* Navigation styles */
#main-navigation {
  position: fixed;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: #3C3A5F; }
  #main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #main-navigation .nav-button {
    width: 15%;
    height: 70px;
    margin: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    opacity: .5; }
    #main-navigation .nav-button[data-state=active] {
      opacity: 1;
      border-width: 5px;
      border-style: solid;
      -o-border-image: url(../img/border-bottom-active.svg) 10%;
         border-image: url(../img/border-bottom-active.svg) 10%; }
    #main-navigation .nav-button:hover, #main-navigation .nav-button:focus {
      opacity: 1; }
  @media screen and (min-width: 768px) {
    #main-navigation {
      position: relative;
      float: left;
      width: 90px;
      height: 100vh; }
      #main-navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto; }
      #main-navigation .nav-button {
        width: 90px;
        height: 68px;
        margin: 15px 0; }
        #main-navigation .nav-button[data-state=active] {
          -o-border-image: url(../img/border-left-active.svg) 10%;
             border-image: url(../img/border-left-active.svg) 10%; } }

#button-dashboard {
  background: url(../img/icon-dashboard.svg); }

#button-members {
  background: url(../img/icon-members.svg); }

#button-settings {
  background: url(../img/icon-settings.svg); }

#button-visits {
  background: url(../img/icon-visits.svg); }

#button-dashboard,
#button-members,
#button-settings,
#button-visits {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px; }

/* Header styles */
#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 0 25px;
  color: white;
  background-color: #6061B1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#app-name {
  font-size: 1.3em;
  font-weight: 300; }
  #app-name strong {
    font-weight: 700; }
  #app-name .trademark {
    font-size: .6em;
    vertical-align: top; }

#app-notification {
  width: 28px;
  height: 28px;
  margin: 0 15px 0 auto;
  background: url(../img/icon-bell.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 20px; }
  #app-notification[data-state=active] {
    background: url(../img/notification-active.svg), url(../img/icon-bell.svg);
    background-repeat: no-repeat;
    background-position: top right, center center;
    background-size: 7px, auto 20px; }

#app-profile {
  font-size: .9em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-left: 15px;
  border-left: 1px solid #4B4AB1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #app-profile .profile-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%; }
  @media screen and (max-width: 568px) {
    #app-profile p {
      display: none; }
    #app-profile .profile-image {
      margin: 0; } }

/* Footer styles */
