/* Shared styles */

%srt {
    text-indent: -99999px;
}

%font-stack {
    font-family: $font-stack;
}

%appearance {
    appearance: none;
    outline: none;
}

%transition {
    will-change: auto;
    transition: all 0.2s linear;
}

%cta-text {
    font-weight: 700 !important;
    text-transform: uppercase;
}

%input-text {
    font-size: .9rem;
    font-weight: 300;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    appearance: none;
    &::placeholder {
        font-size: .9rem;
        font-weight: 300;
        opacity: 1;
        color: $emperor-grey;
    }
}

%input-hover-focus {
    &:hover {
        border-color: $blue-violet;
    }
}

%accessible-focus {
    &:focus {
        background-color: #fc0 !important;
        outline: none;
    }
    &:active {
        background-color: inherit;
    }
}