/* Alerts */

#content-notifications {
    padding: 25px;
    &[data-state=hidden] {
        display: none;
    }
    &[data-state=visible] {
        display: block;
        border-bottom: $alto-grey 1px solid;
    }
}

.alert {
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 4px;
    background-color: $blue-violet;
    justify-content: flex-start;
    align-items: top;
    p {
        font-size: .9em;
        font-weight: 300;
        margin: 11px 0;
        padding-left: 16px;
    }
    strong {
        font-weight: 700;
        margin-right: 10px;
    }
    button {
        width: 40px;
        height: 40px;
        margin-left: auto;
        border: none;
        border-radius: 50%;
        outline: none;
        background: url(#{$img-path}icon-close.svg) no-repeat center;
        background-size: 10px;
        appearance: none;
        @extend %srt;
        &:hover,
        &:focus {
            transform: scale(1.2) rotate(90deg);

        }
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &[data-state=hidden] {
        animation: hide-notifications .2s linear forwards;
    }
}
