/* Forms */

input,
textarea,
input::placeholder,
textarea::placeholder,
select {
    font-family: $font-stack;
    font-weight: 400;
    line-height: 1.3;
}

button,
input[type='submit'],
*[class*='button'],
*[class*='switch'] {
    cursor: pointer;
}

form {
    font-size: 0;
    p {
        font-size: .9rem;
    }
}

input,
textarea,
select,
button,
.switch-body {
    font-size: .9rem;
    font-weight: 300;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    appearance: none;
    &::placeholder {
        font-size: .9rem;
        font-weight: 300;
        opacity: 1;
    }
}

input[type='text'],
select {
    height: 38px;
    border: 1px solid;
}

input[type='submit'],
button {
    width: 100%;
    height: 40px;
    border: 0;
}

input[type='text'],
textarea,
select,
option {
    width: 100%;
    margin-bottom: 15px;
    color: $emperor-grey;
    border-color: $alto-grey;
    background-color: $alabaster-grey !important;
}

select {
    background: url(#{$img-path}icon-arrow-down.svg) no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

button {
    color: white;
    border-color: $alto-grey;
}

textarea {
    display: block;
    width: 100%;
    height: 105px;
    padding-top: 12px;
    padding-bottom: 12px;
}

button,
input[type='submit'],
.switch-body {
    font-weight: 700;
    text-transform: uppercase;
}

input[type='submit'] {
    color: white;
    border-color: $blue-violet;
    background-color: $blue-violet;
}

// Form validation
input,
textarea {
    &[data-state=error] {
        border-color: $flamingo;
        background-color: rgba($flamingo, .05);
        &::placeholder {
            color: $flamingo;
        }
    }
}

p.message {
    margin: 15px 0;
    padding: 15px;
    background-color: $alto-grey;
    &[data-state=error] {
        color: white;
        background-color: rgba($flamingo, 1);
    }
    &[data-state=send] {
        font-weight: 400;
        color: white;
        background-color: rgba($pastel-green, 1);
    }
}

// The switch wrappers
.switch-container {
    margin-bottom: 30px;
}

.switch-light {
    font-size: .9rem;
    z-index: 10;
    display: flex;
    align-items: center;
    strong {
        min-width: calc(50% - 58px);
        margin-right: 15px;
        @media screen and (min-width: #{$bkp-xsmall}) and (max-width: #{$bkp-small}) {
            min-width: calc(75% - 51.5px);
        }
        @media screen and (min-width: #{$bkp-medium}) and (max-width: #{$bkp-large}) {
            min-width: calc(75% - 51.5px);
        }
    }
    input:checked {
        ~ span {
            background-color: $blue-violet !important;
            box-shadow: none !important;
        }
        ~ span a {
            border-color: $blue-violet !important;
        }
    }
}

.switch-body {
    width: 86px !important;
    background-color: $alto-grey !important;
    span {
        color: white !important;
    }
    a {
        outline: none !important;
    }
}
