/* Main styles */

#main-content {
    display: block;
    float: left;
    width: 100%;
    height: 100vh;
    background-color: white;
    #content-header {
        display: flex;
        flex-direction: row;
    }
    #main-title,
    #main-search {
        height: 65px;
    }
    #main-title {
        color: $emperor-grey;
        font-size: 1.2em;
        font-weight: 400;
        padding: 25px;
    }
    #main-search {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 25px;
        border-bottom: 1px solid $alto-grey;
        border-left: 1px solid $alto-grey;
        background-color: $alabaster-grey;
        justify-content: flex-end;
        align-items: center;
    }
    #search-form {
        overflow: hidden;
        display: flex;
        height: 38px;
        width: 100%;
        padding: 0;
        border: 1px solid $alto-grey;
        border-radius: 4px;
        background-color: white;
        @media screen and (min-width: #{$bkp-medium}) {
            width: 380px;
        }
    }
    #search-field,
    #search-button {
        height: 36px;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        appearance: none;
    }
    #search-field {
        width: 100%;
        padding: 12px;
        font-size: .9em;
        font-weight: 300;
    }
    #search-button {
        background: url(#{$img-path}icon-search.svg) no-repeat center;
        width: 38px;
        background-size: 17px;
        display: inline-block;
        @extend %srt;
    }
    @media screen and (min-width: #{$bkp-medium}) {
        width: calc(100% - 90px);
    }
}

#content-notifications {
    padding: 25px;
    &[data-state=hidden] {
        display: none;
    }
    &[data-state=visible] {
        display: block;
    }
}


.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    padding-left: 14px;
    color: white;
    border-radius: 4px;
    background-color: $blue-violet;
    transition: all 0.2s linear;
    p {
        font-size: .9em;
        font-weight: 300;
        margin: 13px 0;
    }
    strong {
        font-weight: 700;
        margin-right: 10px;
    }
    button {
        align-self: flex-start;
        width: 40px;
        height: 40px;
        margin-left: auto;
        border: none;
        outline: none;
        background: transparent url(#{$img-path}icon-close.svg) no-repeat center;
        background-size: 10px;
        appearance: none;
        @extend %srt;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &[data-state=visible] {
        opacity: 1;
    }
    &[data-state=hidden] {
        animation: hide-notifications .2s linear forwards;
    }
}
