/* Custom switches */

.switch-container {
    margin-bottom: 30px;
}

.switch-light {
    font-size: .9rem;
    z-index: 10;
    display: flex;
    align-items: center;
    strong {
        margin-right: 15px;
        min-width: calc(75% - 51.5px);
    }
    input:checked {
        ~ span {
            background-color: $blue-violet !important;
            box-shadow: none !important;
        }
        ~ span a {
            border-color: $blue-violet !important;
        }
    }
}

.switch-body {
    width: 86px !important;
    background-color: $alto-grey !important;
    @extend %cta-text;
    @extend %input-text;
    span {
        color: white !important;
    }
    a {
        outline: none !important;
    }
}
