/* Widgets */

.super-row {
    @media screen and (min-width: #{$bkp-medium}) {
        border-bottom: $alto-grey 1px solid;
    }
    @media only screen and (min-width: #{$bkp-xlarge}) {
        display: flex;
        align-items: stretch;
    }
}

.widget-row {
    border-bottom: 0;
    @media only screen and (min-width: #{$bkp-medium}) and (max-width: #{$bkp-xlarge}) {
        &:not(:last-child) {
            border-bottom: $alto-grey 1px solid;
        }
    }
    @media only screen and (min-width: #{$bkp-xlarge}) {
        display: flex;
        float: left;
        width: 50%;
        border-bottom: 0;
        &:not(:last-child) {
            border-right: $alto-grey 1px solid;
        }
    }
    &.full {
        clear: both;
        width: 100%;
    }
}

.content-widget {
    overflow: hidden;
    width: 100%;
    padding: 25px;
    border-bottom: $alto-grey 1px solid;
    @media only screen and (min-width: #{$bkp-medium}) {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: #{$bkp-medium}) {
    .split .content-widget {
        float: left;
        overflow: hidden;
        width: 50%;
        &:not(:last-child) {
            border-right: $alto-grey 1px solid;
        }
    }
}

.widget-header,
.widget-filter {
    display: flex;
    align-items: center;
}

.widget-filter {
    li {
        width: 25%;
        @media only screen and (min-width: #{$bkp-small}) {
            margin-left: 5px;
        }
    }
    .filter-button {
        font-size: .8rem;
        font-weight: 700;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
        color: $emperor-grey;
        border-radius: 15px;
        @extend %accessible-focus;
        &[data-state=active] {
            color: white;
            background-color: $pastel-green;
        }
    }
    @media only screen and (max-width: #{$bkp-small}) {
        width: 100%;
    }
    @media only screen and (min-width: #{$bkp-small}) {
        margin-left: auto;
    }
}

.widget-header {
    flex-direction: column;
    padding-bottom: 20px;
    @media only screen and (min-width: #{$bkp-small}) {
        flex-direction: row;
    }
}

.widget-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $emperor-grey;
    @media only screen and (min-width: #{$bkp-small}) {
        margin-bottom: 0;
    }
}

#line-widget {
    margin-top: -6px;
}

.social-container {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: #{$bkp-small}) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.social-widget {
    height: 110px;
    margin: 7.5px 0;
    padding: 20px 20px 20px 110px;
    text-align: left;
    color: $emperor-grey;
    border: 1px solid $alto-grey;
    border-radius: 4px;
    background-color: $alabaster-grey;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .social-title {
        font-weight: 700;
        margin: 0;
        color: $blue-violet;
    }
    .social-likes {
        font-size: 2.6rem;
        font-weight: 100;
        margin: 0;
    }
    @media only screen and (min-width: #{$bkp-small}) {
        display: inline-block;
        width: calc(33.3333% - 10px);
        margin: 0 7.5px;
        &:first-child,
        &:nth-of-type(3n + 1) {
            margin-left: 0;
        }
        &:nth-of-type(3n) {
            margin-right: 0;
        }
        &:nth-of-type(-n + 3) {
            margin-bottom: 15px;
        }
    }
    @media only screen and (min-width: #{$bkp-large}) {
        height: 110px;
        padding: 20px 20px 20px 110px;
    }
    @media only screen and (min-width: #{$bkp-small}) and (max-width: #{$bkp-large}) {
        height: auto;
        padding: 110px 20px 20px 20px;
        text-align: center;
    }
}

#social-twitter {
    background-image: url(#{$img-path}icon-twitter.svg);
}

#social-facebook {
    background-image: url(#{$img-path}icon-facebook.svg);
}

#social-google {
    background-image: url(#{$img-path}icon-google-plus.svg);
}

#social-linkedin {
    background-image: url(#{$img-path}icon-linkedin.svg);
}

#social-youtube {
    background-image: url(#{$img-path}icon-youtube.svg);
}

#social-twitter,
#social-facebook,
#social-google,
#social-linkedin,
#social-youtube {
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 70px;
    @media only screen and (min-width: #{$bkp-small}) and (max-width: #{$bkp-large}) {
        background-position: center 20px;
    }
}

.new-member,
.recent-activity {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    align-items: center;
    &:not(:last-child) {
        border-bottom: $alto-grey 1px solid;
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
    .profile-image {
        display: block;
        width: 40px;
        height: 40px;
    }
}

.member-email {
    color: $blue-violet;
    @extend %accessible-focus;
    &:hover,
    &:focus {
        text-decoration: underline;
        outline: none;
    }
}

.recent-activity {
    a {
        display: flex;
        width: 100%;
        height: 100%;
        color: $emperor-grey;
        background: url(#{$img-path}icon-arrow.svg) no-repeat;
        background-position: right 12px center;
        background-size: 10px;
        @extend %transition;
        @extend %accessible-focus;
        &:hover,
        &:focus {
            color: $blue-violet;
            background-position: right center;
        }
    }
    &:first-child {
        background-position: 100% 30%;
    }
    &:last-child {
        background-position: 100% 70%;
    }
    p {
        padding-left: 23px;
        &[data-activity=post] {
            background: url(#{$img-path}icon-post.svg);
        }
        &[data-activity=comment] {
            background: url(#{$img-path}icon-comment.svg);
        }
        &[data-activity=like] {
            background: url(#{$img-path}icon-like.svg);
        }
        &[data-activity=post],
        &[data-activity=comment],
        &[data-activity=like] {
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 18px;
        }
    }
}

.date-added,
.member-email {
    font-size: .8rem;
}

.member-name,
.member-activity {
    line-height: 1.2;
    display: inline;
    overflow: hidden;
    padding-right: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
}

.member-activity {
    width: calc(100% - 50px);
}

.date-added {
    margin-left: auto;
}

#button-save,
#button-cancel {
    width: calc(50% - 12.5px);
}

#button-save {
    margin-right: 12.5px;
}

#button-cancel {
    margin-left: 12.5px;
}
