/* Widgets */

.content-widget {
    padding: 25px;
    &:not(:last-child) {
        border-bottom: $alto-grey 1px solid;
    }
    @media screen and (min-width: #{$bkp-medium}) {
        &.split {
            float: left;
            overflow: hidden;
            width: 50%;
            &:not(:last-child) {
                border-right: $alto-grey 1px solid;
            }
        }
    }
}

.widget-header,
.widget-filter {
    display: flex;
    align-items: center;
}

.widget-filter {
    .filter-button {
        font-size: .8em;
        font-weight: 700;
        width: 25%;
        padding: 5px 10px;
        text-align: center;
        color: $emperor-grey;
        border-radius: 15px;
        background-color: white;
        &[data-state=active] {
            color: white;
            background-color: $pastel-green;
        }
        @media screen and (min-width: #{$bkp-small}) {
            margin-left: 5px;
        }
    }
    @media screen and (max-width: #{$bkp-small}) {
        width: 100%;
    }
    @media screen and (min-width: #{$bkp-small}) {
        margin-left: auto;
    }
}

.widget-header {
    flex-direction: column;
    padding-bottom: 20px;
    @media screen and (min-width: #{$bkp-small}) {
        flex-direction: row;
    }
}

.widget-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $emperor-grey;
    @media screen and (min-width: #{$bkp-small}) {
        margin-bottom: 0;
    }
}

.social-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: #{$bkp-small}) {
        flex-direction: row;
    }
}

.social-widget {
    flex-grow: 1;
    color: $emperor-grey;
    padding: 20px;
    display: inline-block;
    width: 25;
    border: 1px solid $alto-grey;
    border-radius: 4px;
    background-color: $alabaster-grey;
    h3[class^=social] {
        font-weight: 700;
        margin: 0;
        color: $blue-violet;
    }
    .social-likes {
        font-size: 2.6em;
        font-weight: 100;
        margin: 0;
    }
}
