/* Global Layout Set-up */

* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
}
html,
body {
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-stack;
    font-weight: 400;
    line-height: 1.1;
}
p {
    font-size: 0.9rem;   
}
canvas {
    user-select: none;
}
