// Colors
$link-water:#DBDBF3;
$blue-violet: #6061B1;
$blue-violet-dark: #4B4AB1;
$martinique: #3C3A5F;
$pastel-green:#76D76D;
$alabaster-grey: #FAFAFA;
$alto-grey:#D7D7D7;
$emperor-grey:#535353;
// Paths
$img-path:'../img/';
// Screen resolutions
$bkp-large: '1024px';
$bkp-medium: '768px';
$bkp-small: '568px';
$bkp-xsmall: '320px';
// Fonts
$font-stack: 'Open Sans', sans-serif;
$root-font-size: 16;
