// Colors
$blue-violet: #6061B1;
$martinique: #3C3A5F;
$pastel-green:#76D76D;
// Paths
$img-path:'../img/';
// Screen resolutions
$bkp-large: '840px';
$bkp-small: '320px';
// Fonts
$font-stack: 'Open Sans', sans-serif;
$root-font-size: 16;